/* bootstrap override */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #ffffff;
}

.nav-tabs > li > a:hover {
  border: none;
}

/* GENERAL */
html, body {
  color: gray;
}

/* MISC */
.form-group ul,
#submenu ul {
  list-style-type: none;
  padding-left: 0;
}

.floatright {
  float: right;
}

.content-control {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px #d7e3f0 dashed;
}

.thead-inverse {
  background-color: grey;
  color: white;
}

.thead-inverse tr th {
  border: 1px white solid;  
}

/* ERROR OUTPUT */
.flagged {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #d1d1d1 solid;
  border-radius: 6px;  
}
.flagged ul {
  margin-bottom: 0;
  list-style-type: none;
}
.info {
  text-align: center;
  color: #12711e;
}
.errors {
  text-align: center;
  color: red;
}

/* MAIN CONTENT */
#submenu,
#client-form {
  margin-top: 30px;
}
#users_list {
  margin-top: 30px;
  margin-left: 20px;
}
#users_list th {
  padding-right: 10px;
}

.context {
  background-color: #f8fbf9;
  padding: 10px;
  border-radius: 16px;  
}

.context a {
  border: 2px #d3f4f1 solid;
  margin-bottom: 12px;
}

/* SIDEBAR */
#reg-menu .nav li a {
  font-size: 10px;
}
#reg-menu li a {
  margin-top: 10px;
}
#reg-menu .nav-tabs {
  padding-bottom: 10px;
}
#sidebar-wrapper {
  border-top: 1px #e5e5e5 solid;
  margin-top: 50px; 
  padding-top: 50px;	
}

/* registrations */
#registration input,
#registration select,
#registration textarea {
  margin-bottom: 10px;
}

#registration p {
  color: gray;
}

#registration h1,
#listing h1 {
  border-radius: 9px;
  background-color: #eaeaea;
  opacity: 0.8;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.field {
  text-align: right;
}

/* listing */
#listing {
  margin-left: 15px;
  margin-top: 30px;
}
.table-no-borders {
  
}

#footer {
  height: 30px;
}