/* FONTS */
@font-face {
  font-family: HeadFont;
  src: url('../Fonts/Digital Play St.ttf');
}
@font-face {
  font-family: MenuFont;
  src: url('../Fonts/modern_squa#E9EDED2.ttf');
}
@font-face {
  font-family: MainFont;
  src: url('../Fonts/FluentSans-Regular.otf');
}

/* bootstrap override */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #ffffff;
}

.nav-tabs > li > a:hover {
  /*border: none;*/
  border-radius: 12px;
}

/* GENERAL */
html, body {
  color: gray;  
  font-family: MainFont
}

h4 {
  font-size: 1.22em;
  font-weight: 700;
}


/* COMMON */
.current_page {
  /*background-color: #cfe1e6;*/
  border: 1px solid #CFE1E6;
  border-radius: 6px;
  background-color: #f8fbf9;
}

#menu-section {
  background-image: url('../img/top-image.png');
  background-repeat: no-repeat;    
  background-position-x: -40px;
}

.form-group ul,
#submenu ul {
  list-style-type: none;
  padding-left: 0;
}

.floatright {
  float: right;
}

.content-control {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px #d7e3f0 dashed;
}

.thead-inverse {
  background-color: grey;
  color: white;
}

.thead-inverse tr th {
  border: 1px white solid;  
}


/* HEADER */
.container #topmenu .nav-tabs {
  
  border-bottom: 6px solid #ccccff;
  -webkit-border-image: url(../img/Logbook/separator.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../img/Logbook/separator.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../img/Logbook/separator.png) 30 round;  
}

.container #topmenu .nav-tabs li a {
  font-family: MenuFont;
  font-size: 1.12em;
  font-weight: 900;
}

nav#topmenu {
  padding-top: 30px;
}

#topmenu li {

}

/* ERROR OUTPUT */
.flagged {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #d1d1d1 solid;
  border-radius: 6px;  
}
.flagged ul {
  margin-bottom: 0;
  list-style-type: none;
}
.info {
  text-align: center;
  color: #12711e;
}
.errors {
  text-align: center;
  color: red;
}

/* MAIN CONTENT */
.spacing20px {
  margin-bottom: 20px;
}
#submenu,
#client-form {
  margin-top: 30px;
}
#users_list {
  margin-top: 30px;
  margin-left: 20px;
}
#users_list th {
  padding-right: 10px;
}

.context {
  background-color: #f8fbf9;
  padding: 10px;
  border-radius: 16px;  
}

.context a {
  border: 2px #d3f4f1 solid;
  margin-bottom: 12px;
}

/* color of datatables interface fields */
#DataTables_Table_0_length,
#DataTables_Table_0_filter,
#DataTables_Table_0_info,
#listing #DataTables_Table_0_paginate,
#listing #DataTables_Table_0_previous,
#listing .dataTables_paginate .paging_simple_numbers,
#listing .paginate_button .previous .disabled {
  color: gray;
}

/* registrations */
#registration select,
#registration textarea,
.tag-list input {
  margin-bottom: 10px;
  margin-top: 10px;
}

#registration p {
  color: gray;
}

.container h1,
.container h2,
#registration h1,
#listing h1,
#registration h2,
#listing h2 {
  border-radius: 9px;
  /*background-color: #eaeaea;*/
  /*background-color: #23527C;*/
  background-image: url('../img/Logbook/title_stripes.png');
  background-repeat: no-repeat;
  opacity: 0.8;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #78b1a3;
}

#registration form input[type="checkbox"] {
  margin-top: 10px;
}

.action-button {
  font-size: 1.36em;
  /*color: #999999;*/
  color: #90BEB2;
}
.btn.action-button.btn-default {
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: none;
  border-right: none;
  /*background: #E9EDED; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#E9EDED, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#E9EDED, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#E9EDED, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#E9EDED, white); /* Standard syntax */  
  font-size: 1em;
}
.container #head h1 {
  color: #78b1a3;
  font-family: HeadFont;
}
.field {
  text-align: right;
}

/* tags */
.tag-collection {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.tag-collection .controls input {
  margin-right: 30px;
}

/*.tag-bag .tag,
#log-tags .tag*/
.tag-list {
  list-style-type: none;
  padding-left: 0; 
}

.tag {
  float: left;
  padding-right: 6px;
  padding-left: 6px;
  margin: 6px;
  margin-left: 0;
  border: 1px #78b1a3 solid;
  border-radius: 12px;
}

.tag-collection {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: 20px;
}

/* listing */
#listing {  
  margin-top: 30px;
}
.table-no-borders {

}

/* * ** * LOGBOOK *** * */
.outer_frame {
  border-top: 6px solid #ccccff;
  -webkit-border-image: url(../img/Logbook/separator.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../img/Logbook/separator.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../img/Logbook/separator.png) 30 round;  
  padding-bottom: 30px;
}

.nice_list ul {
  padding-left: 0;
  list-style-type: none;
}

#log_list input {
  margin-bottom: 30px;
}

#log-tags {
  margin-bottom: 30px;
}
.mark-delete {
  color: red;
}

/* SIDEBAR */
#sidebar-wrapper {

  /*border-radius: 12px;
  /*border-top: 1px #e5e5e5 solid;*/
  margin-top: 30px;   
  padding-top: 20px;  
  padding-bottom: 20px;
  clear: both;
}

#log_entries_list .editeer {
  margin-top: 12px;
}

#reg-menu {
 /* background-color: #EBF1F2;*/
 border: 3px #CFE1E6 solid;
 border-radius: 12px;
 padding: 10px;
 clear: both;
 box-shadow: 5px 5px 5px #888888;

}
#reg-menu .nav li a {
  font-size: 1;
}
#reg-menu li a {
  margin-top: 10px;
}
#reg-menu .nav-tabs {
  padding-bottom: 10px;
}
.login-btn {
  font-family: MainFont;
}


/* footer */
#footer {
  height: 30px;
}