{% extends 'base_with_right_sidebar.html.twig' %}

{% block title %}Digi Tools - Beheer logs{% endblock title %}

{% block extracss %}  
  <link rel="stylesheet" href="../css/jquery-ui.css" type="text/css"/>
  <link rel="stylesheet" href="../css/_dataTables.jqueryui.min.css" type="text/css"/>
{% endblock extracss %}

{% block main_column %}
  <div class="container">
    <div id="listing">
      <h1>Logbeheer</h1>
      <table class="dataTable table table-bordered table-responsive table-condensed table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Gebruiker</th>
            <th>Inhoud</th>
            <th>Verwijder</th>
          </tr>
        </thead>
        <tbody>          
          {% for log in logs %}
            <tr>
              <td>{{ log.get_id }}</td>
              <td>{{ log.get_user.getUsername }}</td>
              <td>{{ log.get_entry }}</td>
              <td class="mark-delete"><input data-entry-id="{{ log.get_id }}" type="checkbox" name="mark-delete" {% if log.get_delete_flag == 1 %} checked {% endif %} ></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock main_column %}

{% block extrajs %}
  <script src="../js/jquery.dataTables.min.js"></script>
  <script src="../js/list.js"></script>
{% endblock extrajs %}