{% extends 'base_with_right_sidebar.html.twig' %}

{% block title %}
  Digi Tools - Wijzig Log
{% endblock title %}

{% block main_column %}

  {% set app = globals.app %}   

  <section id="registration">
    <div class="container form">
      <h1>Log Entry</h1>      
      <form action="{{ app.urlFor('log_edit_store', {'id': log.get_id} ) }}" method="POST" novalidate>
        
        <div id="listing" class="tag-collection" >     
          <div class="controls">
            <div class="nieuwe-tag action-button"><a href="#">Nieuwe tag</a></div>
          </div>
          <div class="tag-bag modify">          
            {% include 'Logbook/show_tags_selectable.html.twig' %}
          </div>
        </div>
          
        <div id="log_id" hidden="true"> {{ log.get_id }} </div>
        <div class="form-group">          
          <textarea class="form-control" rows="8" id="log_entry" name="log_entry" value="{% if app.request.isPost() %}{{app.request.post('log_entry')}}{% endif %}">{{ log.get_entry }} </textarea>
        </div>
        <div class="form-group spacing">
          <ul>
            <li><input class="form-control btn submit action-button" type="submit" id="verzend" name="register" value="Opslaan" /></li>            
          </ul>
        </div>
        
      </form>
    </div>
  </section> 
{% endblock main_column %}

{% block extrajs %}
  <script type="text/javascript" src="/js/tags.js"></script>
{% endblock extrajs %}