{% extends 'base_with_bottom_menu.html.twig' %}

{% block title %}
  Digitools - Beheer tags
{% endblock title %}

{% block main_column %}
  <div class="container">
    <div id="listing" class="tag-collection" >
      <h1>Tagbeheer</h1>
      <input type="text" class="form-control search_box" placeholder="doorzoek tags" />
      <div class="controls">
        <div class="nieuwe-tag form-control btn submit action-button"><a href="#">Nieuwe tag</a></div>
      </div>
      <div class="tag-bag">          
        {% include 'Logbook/show_tags_selectable.html.twig' %}
      </div>
      <div>
        <div class="verwijder-tag form-control btn submit action-button"><a href="#">Verwijder selectie</a></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script src="../js/tags.js"></script>
  <script src="../js/list.js"></script>
{% endblock extrajs %}