{% extends 'base_with_right_sidebar.html.twig' %}

{% block title %}
  Digitools - Nieuwe Log
{% endblock title %}

{% block main_column %}

  {% set app = globals.app %}   

  <section id="registration">
    <div class="container form">
      <h1>Log Entry</h1>      
      <form action="{{ app.urlFor('log_new') }}" method="POST" novalidate>
        <div class="tag-collection">        

          <div class="tag-bag">          
            {% include 'Logbook/show_tags_selectable.html.twig' %}
          </div>
        </div>

        <div class="form-group">          
          <textarea class="form-control" rows="8" id="log_entry" name="log_entry" placeholder="LEGE ENTRY " value="{% if app.request.isPost() %}{{app.request.post('log_entry')}}{% endif %}" /></textarea>
        </div>
        <div class="form-group spacing">
          <ul>
            <li><input class="form-control btn submit action-button" type="submit" id="verzend" name="register" value="Maak" /></li>            
          </ul>
        </div>

      </form>
    </div>
  </section>

  {% include 'Logbook/logs_by_tags.html.twig' %}
{% endblock main_column %}

{% block extrajs %}
  <script src="../js/list.js"></script>
{% endblock extrajs %}