{% extends 'base.html.twig' %}

{% block title %}
  Digi Tools - Nieuwe Log
{% endblock title %}

{% block content %}

  {% set app = globals.app %}   

  <section id="registration">
    <div class="container form">
      <h1>Log Entry</h1>      
      <form action="{{ app.urlFor('log_new') }}" method="POST" novalidate>
        <div class="form-group">          
          <textarea class="form-control" rows="8" id="log_entry" name="log_entry" placeholder="LEGE ENTRY " value="{% if app.request.isPost() %}{{app.request.post('log_entry')}}{% endif %}" /></textarea>
        </div>
        <div class="form-group spacing">
          <ul>
            <li><input class="form-control btn submit" type="submit" id="verzend" name="register" value="Maak" /></li>            
          </ul>
        </div>

      </form>
    </div>
    <div class="container">
      <section id="log_list">
        <h1>Mijn entries</h1>
        {% include 'Logbook/show_log_entries.html.twig' %}
      </section>
    </div>
  </section>
{% endblock content %}

{% block extrajs %}
  <script src="../js/list.js"></script>
{% endblock extrajs %}