{% extends 'base.html.twig' %}

{% block title %}
  Digi Tools - Nieuwe Log
{% endblock title %}

{% block content %}

  {% set app = globals.app %} 

  <section id="registration">
    <div class="container form">
      <h1>Log Entry</h1>      
      <form action="{{ app.urlFor('new_log_entry') }}" method="POST" novalidate>
        <input class="form-control" type="textarea" id="log_entry" name="log_entry" placeholder="LEGE ENTRY " value="{% if app.request.isPost() %}{{app.request.post('log_entry')}}{% endif %}" />        

        <div class="form-group spacing">
          <ul>
            <li><input class="form-control btn submit" type="submit" id="verzend" name="register" value="Maak" /></li>            
          </ul>
        </div>

      </form>
    </div>
  </section>

  <section id="log_list">
    {% include 'Logbook/show_log_entries.html.twig' %}
  </section>
{% endblock content %}