{# empty Twig template #}

<section id="log_entries_list" class="nice_list">
  {% if log_list %}
    {% set app = globals.app %}
    <ul class="search_list">
      {# display list #}
      {% for log_item in log_list %}
        
        {# display tags associated with log item #}
        {% set tag_list = log_item.get_tags %}
        <div class="taggiebaggie clearfix">
        {% include 'Logbook/show_tags.html.twig' %}
        </div>
        <li>
          <div class="outer_frame {% if log_item.get_delete_flag == 1 %} mark-delete {% endif %}">            
            <div class="floatright editeer">
              <a href="{{ app.urlFor('log_edit', {"id":log_item.get_id}) }}">Wijzig / Bekijk</a>              
            </div>
            <h4 class="item_created"> {{ log_item.get_created|date('Y-m-d H:i') }} </h4>
            <div class="item_entry_box"> {{ log_item.get_entry }} </div>
          </div>
        </li>
      {% endfor %}
    </ul>

  {% else %}
    <div class="container">
      <h2>NO LOGS FOUND</h2>
    </div>    
  {% endif %}
</section>

