{# empty Twig template #}

<ul class="tag-list">

  {% for tag in tag_list %}
    <li class="tag" data-tag-id="{{ tag.get_id }}"> 
      {{ tag.get_tag_desc }} 
      <span>
        <input type="checkbox" name="select-tags" />
      </span>
    </li>
    {% endfor %}

</ul>