{% extends 'base.html.twig' %}

{% block title %}
  ROUTE LIST
{% endblock title %}

{% block extracss %}
  <link href="/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
{% endblock extracss %}

{% block content %}
  <div class="container">
    <h1>Route List</h1>
    <table id="route-tbl" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Route name</th>
          <th>Route pattern</th>
        </tr>
      </thead>
      <tbody>
        {% for name, route in routes %}
          <tr>
            <td> <a href="{{ route }}"> {{ name }} </a></td>
            <td>{{ route }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

{% block extrajs %}
  <script type="text/javascript" src="/js/jquery.dataTables.min.js">    
  </script>
  <script type="text/javascript">
    $(function() {
      $('#route-tbl').DataTable( {
        "order" : [[0, 'asc']]
      });
    });
  </script>
{% endblock extrajs %}