{% extends 'base_with_right_sidebar.html.twig' %}

{% set app = globals.app %}

{% block title %}
  Digi Tools - Toon gebruikersprofiel
{% endblock title %}

{% block main_column %}  
  <section id="registration">
    <div class="container form">
      <h1>Profiel van {{ user.getUsername() }} </h1>
      {% set url = app.urlFor('admin_profile_edit', {'id': user.getId()}) %}      
      {% include 'Profile/profile_edit_form_template.html.twig' %}
    </div>
  </section>
{% endblock main_column %}

