{% extends 'base.html.twig' %}

{% block title %}
  Digi Tools - Vraag wachtwoord herstel
{% endblock title %}

{% block content %}  
  {% set app = globals.app %}
  <section id="registration">
    <div class="container form">
      <h1>Wachtwoord herstel</h1>    
      <form action="{{ app.urlFor('password_reset_request') }}" method="post" novalidate>

        <input class="form-control" type="email" id="email" name="e-mail" placeholder="E-mail adres"/>

        <div class="form-group spacing">
          <ul>
            <li><input class="form-control btn submit" type="submit" id="submit" name="submit" value="Herstel" /></li>        
            <li><a href="/" id="return_to_main" class="form-control btn submit">Home</a></li>        
          </ul>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}