{% extends 'base.html.twig' %}

{% block title %}
  Digi Tools - Herstel wachtwoord
{% endblock title %}

{% block content %}
  {% set app = globals.app %}
  <div id="registration">

    <div class="container form">
      <h1>Nieuw wachtwoord </h1>
      <form action="{{ app.urlFor('verify_new_password') }}" method="post" novalidate>
        <input class="form-control" type="password" id="password" name="wachtwoord" />
        <input class="form-control" type="password" id="password_repeat" name="herhaal_wachtwoord" />
        <input type="hidden" id="id" name="id" value="{{ user_id }}" />
        <div class="form-group spacing">
          <ul>
            <li><input class="form-control btn submit action-button" type="submit" id="submit" name="submit" value="Herstel wachtwoord" /></li>
            <li><a href="/" id="return_to_main" class="form-control btn submit action-button">Home</a></li>
          </ul>
        </div>
      </form>
    </div>

  </div>
{% endblock content %}