{% extends 'base_with_bottom_menu.html.twig' %}

{% set app = globals.app %}

{% block title %}
  Digi Tools - Toon mijn profiel
{% endblock title %}

{% block main_column %}  
  <section id="registration">
    <div class="container form">
      <h1>Mijn Profiel</h1>
      {% set url = app.urlFor('profile_edit') %}      
      {% include 'Profile/profile_show_form_template.html.twig' %}
    </div>
  </section>
{% endblock main_column %}

