{% extends 'base.html.twig' %}

{% block title %}
  1 COL LAYOUT + RIGHT SIDEBAR
{% endblock title %}

{% block content %}
  <div class="container">

    <div class="row">
      <div id="sidebar-wrapper" class="col-sm-3 floatright">
        {% block sidebar %}    
          {% include 'menu.html.twig' %}        
        {% endblock sidebar %}
      </div>

      <div id="main-wrapper" class="col-sm-9">
        {% block main_column %}
        {% endblock main_column %}
      </div>


    </div>
    
  </div>
{% endblock content %}