{% extends 'base_with_bottom_menu.html.twig' %}

{% block title %}Digi Tools - Welkom{% endblock title %}


  {% block main_column %}
    
    <div id="registration" class="">
      {% if globals.user is defined and globals.user is not null %}
      {% set user = globals.user %}
        <h1>{{ globals.user.username }} is aangemeld</h1>
        {% if user.isAdmin %}
          <span class="status">als admin</span>
        {% else %}
          <span class="status">als user</span>
        {% endif %}
      
      {% endif %}
    </div>       
    
  {% endblock main_column %}

