{% extends 'base_with_right_sidebar.html.twig' %}

{% block title %}Digi Tools{% endblock title %}


  {% block main_column %}
    
    <div class="container welcome">
      {% if globals.user is defined and globals.user is not null %}
      {% set user = globals.user %}
        <h1>{{ globals.user.username }} is logged on</h1>
        {% if user.isAdmin() %}
          <span class="status">as admin</span>
        {% else %}
          <span class="status">as user</span>
        {% endif %}
      {% else %}
        <h1>Welcome</h1>
      {% endif %}
    </div>
    
    <section class="container welcome cf">
      
    </section>
    
  {% endblock main_column %}


{% block extrajs %}
  <script src="js/main.js"></script>
{% endblock extrajs %}
