{% set app = globals.app %}

<div class="container cf">  
  <nav id="topmenu" class="">
    <ul class="nav nav-tabs">      
      <li {% if app.request.getPath == app.urlFor('main_page') %} class="current_page" {% endif %}>
        <a href="{{ app.urlFor('main_page') }}">Home</a>
      </li>
      <li {% if app.request.getPath == app.urlFor('todo_home') %} class="current_page" {% endif %}>
        <a href="{{ app.urlFor('todo_home') }}">Todo</a>
      </li>        
      <li {% if app.request.getPath == app.urlFor('log_new') %} class="current_page" {% endif %}>
        <a href="{{ app.urlFor('log_new') }}">Logs</a>
      </li>      
      {% if (globals.user.isAdmin == 1)  %}
        <li {% if app.request.getPath == app.urlFor('tags_manage') %} class="current_page" {% endif %}>
          <a href="{{ app.urlFor('tags_manage') }}">Tags</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>