{% set app = globals.app %}

<div class="container cf">  
  	<nav id="topmenu" class="">
      <ul class="nav nav-tabs">
        <li><a href="{{ app.urlFor('main_page') }}">Home</a></li>        
      </ul>
    </nav>
</div>