{% extends 'base.html.twig' %}

{% block title %}Digi Tools - ESL - Maak nieuwe klant {% endblock title %}

  {% block nav_menu %}
    {% include 'nav_top_menu.html.twig' %}
    <div class="container">
      <div class="floatright">
        {% include 'menu.html.twig' %}
      </div>
    </div>
  {% endblock nav_menu%}

  {% block content %}
    {% set app = globals.app %}
    <section class="container" id="client-form">
      CLIENT FORM
    </section>
  {% endblock content %}