{% extends 'homepage.html.twig' %}

{% block title %}Digi Tools - ESL - Maak nieuwe klant {% endblock title %}

{% block main_column %}
  {% set app = globals.app %}
  <section id="client-form">
    CLIENT FORM
  </section>
{% endblock main_column %}