{% extends 'homepage.html.twig' %}

{% block title %} Digi Tools - ESL - Toon klanten {% endblock title %}

{% block extracss %}
  <link rel="stylesheet" href="/js/DataTables/css/jquery.dataTables.css"/>
{% endblock extracss %}

{% block main_column %}
  {% set app = globals.app %}
  <section id="overview">

  </section>
{% endblock main_column %}

{% block extrajs %}   
  <script src="/js/DataTables/">
    
  </script>
{% endblock extrajs %}