{% extends 'base_with_bottom_menu.html.twig' %}

{% block title %} Digitools - New Todo {% endblock title %}

{% block extracss %}
  {% include 'Common/include_jquery_ui_css.html.twig' %}  
{% endblock extracss %}

{% block main_column %}
  {% set app = globals.app %}
  <section id="registration">
    <h1>New Todo Item</h1>
    <form action="{{ app.urlFor('todo_new') }}" method="POST">
      <div class="row">
        <div class="col-sm-12">
          <input class="form-control" type="text" name="title" placeholder="Title">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input class="datepick form-control" type="date" name="tododate" placeholder="Due date" readonly="readonly">
        </div>
        <div class="col-sm-6">
          <input class="timepick form-control" type="date" name="todotime" placeholder="Due time" readonly="readonly">
        </div>
      </div>
    </form>
  </section>
{% endblock %}

{% block extrajs %}  
  {% include 'Common/include_jquery_ui_js.html.twig' %}
  <script src="../js/todo.js"></script>
{% endblock extrajs %}