{% extends 'base_with_bottom_menu.html.twig' %}

{% block title %} Todo - Show all {% endblock title %}

{% block main_column %}
  {% set app = globals.app %}
  <section id="listing">
    <h1>Show items</h1>    
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Title</th> 
          <th>Creation Date</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Finished ?</th>
        </tr>
      </thead>
      <tbody>        
        {% for item in items %}
          <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.creationdate }}</td>
            <td>{{ item.tododate }}</td>
            <td>{{ item.priority }}</td>
            <td><input name="finishstate" type="checkbox" {% if item.finishstate == 1 %} checked="checked" {% endif %}></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock main_column %}